dialog {
	backgroundImage: $('dialog-border');
	background9Scale: 20px;

	fontName: FrizQuadrata;
	fontSize: 13px;
	fontColor: #FFFFFF;

	padding: 16px;
}

dialog #header {
	backgroundImage: $('dialog-header');
	background9Scale: 16px;

	marginTop: -28px;
	ihalign: center;
	height: 40px;
	padding: none 24px;
}

button {
	background9Scale: 8px;
	backgroundImage: $('button-up');
	cursor: button;

	fontName: FrizQuadrata;
	fontSize: 13px;
	fontColor: #FFFF00;

	align: center;

	height: 28px;
	padding: 2px 32px;
}

button:hover { filter: brightness(0.05) }
button:active
{
	backgroundImage: $('button-down'); 
	paddingBottom: 4px;
}

button.disabled:hover { filter: none; cursor: auto; }
button.disabled
{
	backgroundImage: $('button-disabled');
	fontColor: #FFFFFF;
}

icon.warning
{
	src: $('dialog-alert-icon');
}
