dialog {
	backgroundImage: $('dialog-border');
	background9Scale: 20px;

	padding: 16px;
	height:200px;
}

dialog #header {
	backgroundImage: $('dialog-header');
	background9Scale: 16px;
}

button {
	background9Scale: 8px 8px 15px;
	backgroundImage: $('button-up');
	cursor: button;

	fontName: FrizQuadrata;
	fontSize: 13px;
	fontColor: #FFFF00;
	/*fontColor: white;*/

	marginBottom: -8px;

	width: 128px;
	height: 32px;
}

button:hover { filter: brightness(0.05) }
button:active
{
	backgroundImage: $('button-down'); 
	paddingBottom: 4px;
}

button.disabled:hover { filter: none; cursor: auto; }
button.disabled
{
	backgroundImage: $('button-disabled');
	fontColor: #FFFFFF;
}


icon.alert
{
	src: $('dialog-alert-icon');
}

/*#header*/
/*{*/
	/*width: 256px;*/
	/*height: 64px;*/
	/*backgroundImage: $('dialog-header');*/
	/*marginTop: -37px;*/
/*}*/
