dialog {
	backgroundFill: $('dialog-border');
	backgroundStretchGrid: 20px;

	fontName: FrizQuadrata;
	fontSize: 13px;
	fontColor: #FFFFFF;

	padding: 16px;

	/** Starling trick for 1 draw calls per deffierent tint color */
	alpha: 0.9999;
}

dialog #header {
	backgroundFill: $('dialog-header');
	backgroundStretchGrid: 16px;

	marginTop: -28px;
	ihalign: center;
	height: 40px;
	padding: none 24px;
}

button {
	backgroundStretchGrid: 8px;
	backgroundFill: $('button-up');
	cursor: button;

	fontName: FrizQuadrata;
	fontSize: 13px;
	fontColor: #FFFF00;

	align: center;

	height: 28px;
	padding: 8px 32px 0px;
}

button:hover { filter: brightness(0.05); }
button:active
{
	backgroundFill: $('button-down'); 
	paddingBottom: 4px;
}

button.disabled:hover { filter: none; }
button.disabled
{
	backgroundFill: $('button-disabled');
	fontColor: #FFFFFF;
	cursor: auto;
}

image.warning
{
	src: $dialog-alert-icon; 
	width: 48px;
}
